//button hover slide animation
.slide-button-ani {
    position: relative;
}
.slide-button-ani::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background-color: $secondary;
    transition: all .2s linear;
    z-index: -1;
}
.slide-button-ani {
    &:hover, &:focus, &:focus-within {
        &::after {
            width: 100%;
        }
    }
    
}