.dropdown-menu-container {
  // background-color: $background-color;
}

.collapsible {
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  h3, h4 {
    font-size: inherit;
    font-weight: normal;
  }
  img {
    transition: transform .3s linear;
    @include arrowDown;
  }
  &.menu-open {
    img {
      @include arrowUp;
    }
  }
}


.active,
.collapsible:hover {
  background-color: #555;
}


.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  // background-color: #f1f1f1;
  ul {
    padding-left: 25px;
    li {
      list-style-type: disc;
    }
  }
}
.collapsible:focus {
  background-color: black;
}

