html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;

}
.wrapper {
    padding: 16px;
}
.arrow-button-container {
    display: flex;
    align-items: center;
    img {
        margin-left: .5rem;
    }
}
.arrow {
    width: 15px;
    &-right {
        @extend .arrow;
        transform: rotate(270deg);
    }
    &-left {
        // width: 20px;
        @extend .arrow;
        transform: rotate(90deg);
    }
}
.menu-button-icon {
    width: 30px;
}

/* back to top btn */
.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    border: 3px solid $secondary;
}
.back-to-top-btn:hover {
    background-color: $secondary;
}
.back-to-top-btn:hover svg {
    fill: white;
}
.back-to-top-btn svg {
    width: 50%;
    transform: rotate(-90deg);
    fill: $secondary;
}



//MAIN
.about {
    padding: 0 1rem;
}
.main-content-wrapper {
    box-sizing: border-box;
    @include desktop {
        max-width: 1500px; //ie 9 - 6
        max-width: 94em; //1500px
        max-width: 94rem; //1500px
        margin: 0 auto;
    }
    @include tablet {
        width: 95%;
        margin: 0 auto;
    }
}