.site-header {
    background-color: $primary;
    color: $primary-text;
}

//top menu
.top-menu {
    display: flex;
    justify-content: space-between;
}
.bottom-menu {
    display: none;
}

//dropdown buttons
.site-header button {
    padding: 0;
    border: 0;
    background: none;
}
.menu-parent .close-button {
    display: none;
}
.close-button img {
    width: 30px;
}
.open-menu-button img {
    width: 30px;
}