//fallback for browsers that dont support CSS grid
.site-header {
    background-color: $primary;
    color: $primary-text;
    height: initial;
    li {
        margin: 1rem;
    }
    button {
        display: none;
    }
}


//modern CSS
@supports(display: grid) {
    .site-header {
        //reset to nullify fallback
        li {
            margin: initial;
        }
        button {
            display: inline-block;
        }

        background-color: $primary;
        color: $primary-text;
        height: 100vh;
        box-sizing: border-box;
        li {
            margin: 1rem 0;
        }
    }
    .nav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    //menu closed
    .site-header.menu-closed {
        height: initial;
        .expand-menu-item {
            display: none;
        }
    }
    
    //menu opened
    
    
    //find a pet slider menu
    .find-a-pet-submenu {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 10%;
        height: 100vh;
        width: 90%;
        background-color: $primary-light;
        // padding: 20px 16px;
        padding-top: 24px;
        padding-left: 20px;
        box-sizing: border-box;
    }
    #find-a-pet-dropdown {
        .find-a-pet-submenu {
            display: none;
        }
    }
    #find-a-pet-dropdown.menu-opened {
        //find a pet menu opend
        .find-a-pet-submenu {
            display: block;
        }
    }
    
    
    @include tablet {
        .site-header.menu-closed {
            .expand-menu-item {
                display: block;
            }
        }
        .controls {
            display: none;
        }
        //grid display
        .site-header {
            display: grid;
            grid-template-areas:
                "logo dropdown"
                "links links";
            align-items: start;
            li {
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
            nav a {
                @include slideLinkHover;
            }
        }
        .nav-top {
            grid-area: logo;
        }
        #find-a-pet-dropdown {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-area: dropdown;
            justify-self: end;
            #find-a-pet-dropdown-button {
                justify-self: end;
            }
            .arrow-button-container {
                img {
                    transition: transform .3s linear;
                    @include arrowDown;
                }
            }
            &.menu-opened {
                .arrow-button-container {
                    img {
                        @include arrowUp;
                    }
                }
            }
        }
        .find-a-pet-submenu {
            display: flex;
            position: static;
            width: initial;
            height: initial;
            background-color: inherit;
            padding: 0;
            button {
                display: none;
            }
            nav {
                display: flex;
                justify-content: flex-end;
            }
        }
        .bottom-menu ul {
            grid-area: links;
            display: flex;
        }
    }
}
