.site-header {
    background-color: $primary;
    color: $primary-text;
}

//menu closed (defualt styles)
.top-menu {
    display: flex;
    justify-content: space-between;
}
.menu-parent {
    .bottom-menu {
        display: none;
    }
}
//menu opened
.menu-parent.menu-opened {
        .close-button {
            display: block;        
        }
        .open-menu-button {
            display: none;
        }
        .bottom-menu {
            display: block;
        }
}

//dropdown buttons
.site-header button {
    padding: 0;
    border: 0;
    background: none;
}
.menu-button img {
    width: 30px;
}
