$primary: #8C5B97;
//what the text will be when $primary is used
//as a background color
$primary-text: white;
$primary-light: #BE69A4;
$secondary: #60B0BA;
$background-color: #F6F6F6;

$defaultContentPadding: 0 1rem;

//rotates button arrow up
@mixin arrowUp {
    transform: rotate(180deg);
}
@mixin arrowDown {
    transform: rotate(0deg);
}


@mixin desktop {
    @media(min-width: 1000px) {
        @content;
    }
}
@mixin tablet($width: 700px) {
    @media(min-width: $width) {
        @content;
    }
}

/* bottom border sliding on hover and focus animation */
@mixin slideLinkHover {
    & {
        position: relative;
    }
    &::after {
        content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: $secondary;
    visibility: hidden;
    transition: all .3s;
    }
    &:hover::after,&:focus::after {
        visibility: visible;
        width: 105%;
    }
}
