/**
 * Vertical rhythm by Syncope
 * http://nowodzinski.pl/syncope
 */

 html, body {
	// font: 16px/1.5 'Helvetica';
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 2.06rem;
	line-height: 1.45rem;
	padding-top: 0.394rem;
	margin-bottom: 0.333rem;
}

h2 {
	font-size: 1.75rem;
	line-height: 1.71rem;
	padding-top: 0.500rem;
	margin-bottom: 0.357rem;
}

h3 {
	font-size: 1.44rem;
	line-height: 1.04rem;
	padding-top: 0.174rem;
	margin-bottom: 0.870rem;
}

h4 {
	font-size: 1.19rem;
	line-height: 1.26rem;
	padding-top: 0.316rem;
	margin-bottom: 0.947rem;
}

p {
	font-size: 1.00rem;
	line-height: 1.50rem;
	padding-top: 0.438rem;
	margin-bottom: 1.06rem;
}
