@import 'variables';
@import 'reset';
@import 'fonts';
@import 'header';

.main-wrapper {
    max-width: 1500px;
    padding: 25px;
    margin: 0 auto;
}
.arrow-link {
    display: flex;
    align-items: center;
    img {
        margin-left: 5px;
    }
}
.drop-down-menu-arrow {
    width: 15px;
}
.right-arrow {
    transform: rotate(270deg);
}
.left-arrow {
    transform: rotate(90deg);
}