@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  color: inherit;
  font-family: inherit;
}

button {
  background: none;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Niconne', cursive;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.site-header {
  background-color: #8C5B97;
  color: white;
  height: 90vh;
}

.site-header li {
  margin: 1rem 0;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header.menu-closed {
  height: initial;
}

.site-header.menu-closed .expand-menu-item {
  display: none;
}

.find-a-pet-submenu {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100vh;
  width: 90%;
  background-color: #BE69A4;
  padding: 20px 16px;
}

#find-a-pet-dropdown .find-a-pet-submenu {
  display: none;
}

#find-a-pet-dropdown.menu-opened .find-a-pet-submenu {
  display: block;
}

@media (min-width: 700px) {
  .site-header.menu-closed .expand-menu-item {
    display: block;
  }
  .controls {
    display: none;
  }
  .site-header {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo dropdown" "links links";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .site-header li {
    margin-right: 1rem;
  }
  .site-header li:last-child {
    margin-right: 0;
  }
  .nav-top {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  #find-a-pet-dropdown {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: dropdown;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  #find-a-pet-dropdown #find-a-pet-dropdown-button {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  #find-a-pet-dropdown .arrow-button-container img {
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #find-a-pet-dropdown.menu-opened .arrow-button-container img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .find-a-pet-submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    width: initial;
    height: initial;
    background-color: inherit;
    padding: 0;
  }
  .find-a-pet-submenu button {
    display: none;
  }
  .find-a-pet-submenu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bottom-menu ul {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: links;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  overflow: hidden;
}

.wrapper {
  padding: 16px;
}

.arrow-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-button-container img {
  margin-left: .5rem;
}

.arrow, .arrow-right, .arrow-left {
  width: 15px;
}

.arrow-right {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.arrow-left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-button-icon {
  width: 30px;
}

/* links bottom border animation */
.bdr-slide {
  position: relative;
}

.bdr-slide::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #60B0BA;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.bdr-slide:hover::after,
.bdr-slide:focus::after {
  visibility: visible;
  width: 105%;
}
/*# sourceMappingURL=main.css.map */