@import 'variables';
@import 'reset';
@import 'fonts';
@import 'header';

.arrow-link {
    display: flex;
    align-items: center;
}
.drop-down-menu-arrow {
    width: 20px;
}
.right-arrow {
    transform: rotate(270deg);
}
.left-arrow {
    transform: rotate(90deg);
}