/* links bottom border animation */
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  color: inherit;
  font-family: inherit;
}

button {
  background: none;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Niconne', cursive;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper {
  padding: 16px;
}

.arrow-button-container {
  display: flex;
  align-items: center;
}

.arrow-button-container img {
  margin-left: .5rem;
}

.arrow, .arrow-right, .arrow-left {
  width: 15px;
}

.arrow-right {
  transform: rotate(270deg);
}

.arrow-left {
  transform: rotate(90deg);
}

.menu-button-icon {
  width: 30px;
}

/* back to top btn */
.back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  border: 3px solid #60B0BA;
}

.back-to-top-btn:hover {
  background-color: #60B0BA;
}

.back-to-top-btn:hover svg {
  fill: white;
}

.back-to-top-btn svg {
  width: 50%;
  transform: rotate(-90deg);
  fill: #60B0BA;
}

.site-header {
  background-color: #8C5B97;
  color: white;
  height: 90vh;
}

.site-header li {
  margin: 1rem 0;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header.menu-closed {
  height: initial;
}

.site-header.menu-closed .expand-menu-item {
  display: none;
}

.find-a-pet-submenu {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 10%;
  height: 100vh;
  width: 90%;
  background-color: #BE69A4;
  padding: 20px 16px;
}

#find-a-pet-dropdown .find-a-pet-submenu {
  display: none;
}

#find-a-pet-dropdown.menu-opened .find-a-pet-submenu {
  display: block;
}

@media (min-width: 700px) {
  .site-header.menu-closed .expand-menu-item {
    display: block;
  }
  .controls {
    display: none;
  }
  .site-header {
    display: grid;
    grid-template-areas: "logo dropdown" "links links";
    align-items: start;
  }
  .site-header li {
    margin-right: 1rem;
  }
  .site-header li:last-child {
    margin-right: 0;
  }
  .site-header nav a {
    position: relative;
  }
  .site-header nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #60B0BA;
    visibility: hidden;
    transition: all .3s;
  }
  .site-header nav a:hover::after, .site-header nav a:focus::after {
    visibility: visible;
    width: 105%;
  }
  .nav-top {
    grid-area: logo;
  }
  #find-a-pet-dropdown {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-area: dropdown;
    justify-self: end;
  }
  #find-a-pet-dropdown #find-a-pet-dropdown-button {
    justify-self: end;
  }
  #find-a-pet-dropdown .arrow-button-container img {
    transition: transform .3s linear;
    transform: rotate(0deg);
  }
  #find-a-pet-dropdown.menu-opened .arrow-button-container img {
    transform: rotate(180deg);
  }
  .find-a-pet-submenu {
    display: flex;
    position: static;
    width: initial;
    height: initial;
    background-color: inherit;
    padding: 0;
  }
  .find-a-pet-submenu button {
    display: none;
  }
  .find-a-pet-submenu nav {
    display: flex;
    justify-content: flex-end;
  }
  .bottom-menu ul {
    grid-area: links;
    display: flex;
  }
}

.collapsible {
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible h3, .collapsible h4 {
  font-size: inherit;
  font-weight: normal;
}

.collapsible img {
  transition: transform .3s linear;
  transform: rotate(0deg);
}

.collapsible.menu-open img {
  transform: rotate(180deg);
}

.active,
.collapsible:hover {
  background-color: #555;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.content ul {
  padding-left: 25px;
}

.content ul li {
  list-style-type: disc;
}

.collapsible:focus {
  background-color: black;
}

.no-classlist .content {
  /* max-height: none; */
}
/*# sourceMappingURL=main.css.map */