.about-content-container {
    display: flex;
    justify-content: flex-start;
    max-width: 1650px;
    margin: 0 auto;
    @media(min-width: 1600px) {
        .side-bar {
            width: 21%;
        }
    }
}