@mixin leftBorderHover($color: $secondary, $left-val: -12.5px) {
    &:before {
        content: '';
        position: absolute;
        left: $left-val;
        top: 4px;
        height: 1rem;
        width: 5px;
        background-color: $color;
        @include about-tablet {
            background-color: white;
        }
        @include about-desktop {
            background-color: $color;
        }
    }
}
.side-bar {
    //on mobile there will be no side bar
    display: none;
}
.menu-container {
    padding: 20px;
    li {
        position: relative;
        &:hover, &:focus {
            @include leftBorderHover;
        }
    }
    .sub-menu {
        li {
            padding-left: 20px;
            &:hover, &:focus {
                @include leftBorderHover($left-val: 9px);
            }
        }
    }
    .title {
        font-weight: bold;
    }
}
.about-content {
    .text-wrapper {
        padding: 1rem;
        max-width: 1200px;
        max-width: 62rem;
    }
}

@include about-tablet {
    .side-bar {
        display: block;
        color: white;
        background-color: $secondary;
        min-width: 16rem;
    }
}
@include about-desktop {
    .side-bar {
        background-color: white;
        color: black;
    }
}